/*
.flag h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    /*
    display: block;
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 80%;
    background-color: rgba(144, 144, 144, 0.9);
    font-size: 23px;
    color: white;
}

  .flag{
    position: absolute;
    text-align: center;
    color: rgb(55, 10, 139);   
    float: left;
    /* padding: 23px 3px;
    padding: 0;
  }*/

.flag > h4 {
  display: none;
} 

.theCountryName {
  position: relative;
}
.flag{
  position: relative;
}

.theCountryName > h4 {
  /* display: block; */
  position: absolute;
  display: block;
  width: 100px;
  height: 20px;
  top: calc(50% - 10px);
  left: calc(50% - 50px);
  background-color: rgba(0,0,0,0.6);
  color: white;
  text-align: center;
}